* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background: line;
  width: 1400px;
  margin: auto;
}
.row {
  border: solid #fff 3px;
  display: flex;
  flex-flow: row wrap;
}
.row [class*="col-"] {
  border: solid #fff 3px;
  display: block;
}
.col-1 {width: 8.33%;flex-basis: 8.33%;}
.col-2 {width: 16.66%;flex-basis: 16.66%;}
.col-3 {width: 25;flex-basis: 25%;}
.col-5 {width: 41.66%;flex-basis: 41.66%;}
.col-4 {width: 33.33%;flex-basis: 33.33%;}
.col-6 {width: 50%;flex-basis: 50%;}
.col-7 {width: 58.33%;flex-basis: 58.33%;}
.col-8 {width: 66.66%;flex-basis: 66.66%;}
.col-9 {width: 75;flex-basis: 75%;}
.col-10 {width: 83.33%;flex-basis: 83.33%;}
.col-11 {width: 91.66%;flex-basis: 91.66%;}
.col-12 {width: 100%;flex-basis: 100%;}


@media (max-width:1200px) {
  .container {
    width: 1150px;
  }
  .col-lg-1 {width: 8.33%;flex-basis: 8.33%;}
  .col-lg-2 {width: 16.66%;flex-basis: 16.66%;}
  .col-lg-3 {width: 25;flex-basis: 25%;}
  .col-lg-5 {width: 41.66%;flex-basis: 41.66%;}
  .col-lg-4 {width: 33.33%;flex-basis: 33.33%;}
  .col-lg-6 {width: 50%;flex-basis: 50%;}
  .col-lg-7 {width: 58.33%;flex-basis: 58.33%;}
  .col-lg-8 {width: 66.66%;flex-basis: 66.66%;}
  .col-lg-9 {width: 75;flex-basis: 75%;}
  .col-lg-10 {width: 83.33%;flex-basis: 83.33%;}
  .col-lg-11 {width: 91.66%;flex-basis: 91.66%;}
  .col-lg-12 {width: 100%;flex-basis: 100%;}
  }
  
@media (max-width:992px) {
  .container {
    width: 840px;
  }
  .col-md-1 {width: 8.33%;flex-basis: 8.33%;}
  .col-md-2 {width: 16.66%;flex-basis: 16.66%;}
  .col-md-3 {width: 25;flex-basis: 25%;}
  .col-md-5 {width: 41.66%;flex-basis: 41.66%;}
  .col-md-4 {width: 33.33%;flex-basis: 33.33%;}
  .col-md-6 {width: 50%;flex-basis: 50%;}
  .col-md-7 {width: 58.33%;flex-basis: 58.33%;}
  .col-md-8 {width: 66.66%;flex-basis: 66.66%;}
  .col-md-9 {width: 75;flex-basis: 75%;}
  .col-md-10 {width: 83.33%;flex-basis: 83.33%;}
  .col-md-11 {width: 91.66%;flex-basis: 91.66%;}
  .col-md-12 {width: 100%;flex-basis: 100%;}
  }
    
@media (max-width:768px) {
  .container {
    width: 700px;
  }
  .col-sm-1 {width: 8.33%;flex-basis: 8.33%;}
  .col-sm-2 {width: 16.66%;flex-basis: 16.66%;}
  .col-sm-3 {width: 25;flex-basis: 25%;}
  .col-sm-5 {width: 41.66%;flex-basis: 41.66%;}
  .col-sm-4 {width: 33.33%;flex-basis: 33.33%;}
  .col-sm-6 {width: 50%;flex-basis: 50%;}
  .col-sm-7 {width: 58.33%;flex-basis: 58.33%;}
  .col-sm-8 {width: 66.66%;flex-basis: 66.66%;}
  .col-sm-9 {width: 75;flex-basis: 75%;}
  .col-sm-10 {width: 83.33%;flex-basis: 83.33%;}
  .col-sm-11 {width: 91.66%;flex-basis: 91.66%;}
  .col-sm-12 {width: 100%;flex-basis: 100%;}
  }
  
  @media (max-width:576px) {
    .container {
      width: 500px;
    }
    .col-xs-1 {width: 8.33%;flex-basis: 8.33%;}
    .col-xs-2 {width: 16.66%;flex-basis: 16.66%;}
    .col-xs-3 {width: 25;flex-basis: 25%;}
    .col-xs-5 {width: 41.66%;flex-basis: 41.66%;}
    .col-xs-4 {width: 33.33%;flex-basis: 33.33%;}
    .col-xs-6 {width: 50%;flex-basis: 50%;}
    .col-xs-7 {width: 58.33%;flex-basis: 58.33%;}
    .col-xs-8 {width: 66.66%;flex-basis: 66.66%;}
    .col-xs-9 {width: 75;flex-basis: 75%;}
    .col-xs-10 {width: 83.33%;flex-basis: 83.33%;}
    .col-xs-11 {width: 91.66%;flex-basis: 91.66%;}
    .col-xs-12 {width: 100%;flex-basis: 100%;}
    }
  
  
