body {
  color: #fff;
  background: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  transition: 0.5s;
  top: 1px;
  position:sticky;
  background: #070707;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.header-1 {
  display: flex;
  flex-direction: row;
}
.header-1 >* >*{
  margin: 10px 15px;
  font-size: 18px;
  font-weight: 400;
}
.main-info-cont {
  margin: 300px 50px 0px 50px;
}
.main-infos {
  display: flex;
  flex-flow: row;
}
.image-main {
  width: 550px;
}
.contact-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8% 0 0 0;
  border-radius: 30px;
  height: 40vh;
}
.body-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}